# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SWOON_LEFT
    def_bool $(shields_list_contains,swoon_left)

config SHIELD_SWOON_RIGHT
    def_bool $(shields_list_contains,swoon_right)